body {
    display: flex;
    background-color: aqua !important;
    width: 715px;
    
    margin-left: 40px;
    
}

#h1 {

    text-align: center;
}

form{
    width: 715px;
}

.image{

    width: 40px;
    height: 20px;
}

.lista {
    display: flex;
    align-items: center;
}

h3{
    flex-basis:100%;
    text-align:center
    }
        